@font-face {
    font-family: "Alte Haas Grotesk";
    font-style: normal;
    font-weight: 400;
    src: url("assets/fonts/altehaasgroteskregular.woff2") format("woff2"),
        url("assets/fonts/altehaasgroteskregular.woff") format("woff");
}

:root {
    --rounded: 0rem;
}

html {
    font-family: "Alte Haas Grotesk";
}

.k-topbar-signals,
.k-topbar-wrapper:after {
    display: none !important;
}

.k-box[data-theme=info],
.k-box[data-theme=negative],
.k-box[data-theme=notice],
.k-box[data-theme=positive] {
    background: transparent;
    padding: 0;
}

.k-button.k-block-options-button[title="More"] {
    display: none;
}

.k-block-selector.k-dialog {
    background: #e9e9e9;
    color: black;
}

.k-block-selector summary {
    color: black;
}

.k-dialog {
    border-radius: 0;
}

.k-block-types .k-button {
    background-color: white;
}

.k-clipboard-hint {
    display: none;
}