@font-face {
    font-family: "Ortica Linear";
    font-style: normal;
    font-weight: 200;
    src: url("assets/fonts/OrticaLinear-Light.woff2") format("woff2"),
        url("assets/fonts/OrticaLinear-Light.woff") format("woff");
}

@font-face {
    font-family: "Ortica Linear";
    font-style: normal;
    font-weight: 400;
    src: url("assets/fonts/OrticaLinear-Regular.woff2") format("woff2"),
        url("assets/fonts/OrticaLinear-Regular.woff") format("woff");
}

@font-face {
    font-family: "Ortica Linear";
    font-style: normal;
    font-weight: 700;
    src: url("assets/fonts/OrticaLinear-Bold.woff2") format("woff2"),
        url("assets/fonts/OrticaLinear-Bold.woff") format("woff");
}

@font-face {
    font-family: "Ortica Angular";
    font-style: normal;
    font-weight: 700;
    src: url("assets/fonts/OrticaAngular-Bold.woff2") format("woff2"),
        url("assets/fonts/OrticaAngular-Bold.woff") format("woff");
}

@font-face {
    font-family: "Alte Haas Grotesk";
    font-style: normal;
    font-weight: 400;
    src: url("assets/fonts/altehaasgroteskregular.woff2") format("woff2"),
        url("assets/fonts/altehaasgroteskregular.woff") format("woff");
}

@font-face {
    font-family: "Alte Haas Grotesk";
    font-style: normal;
    font-weight: 700;
    src: url("assets/fonts/altehaasgroteskbold.woff2") format("woff2"),
        url("assets/fonts/altehaasgroteskbold.woff") format("woff");
}

:root {
    --doc-height: 100%;
    --color-txt: #000000;
    --color-bg: #ffffff;
    --menu-font-size: .9rem;
    --title-font-size-sansserif: 4rem;
    --title-font-size-serif: 3.5rem;
    --text-font-size: 1rem;
    --ui-open-size: 3rem;
    --ui-close-size: 2.5rem;
}

html {
    font-size: 100%;
}

body {
    background-color: var(--color-bg);
    overflow-x: hidden;
}

body::after {
    content: "";
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 58.85%, #ffffff 100%);
    z-index: 7;
    pointer-events: none;
}

.header {
    width: 100%;
    height: 4rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    font-family: "Ortica Angular", serif;
    font-weight: 700;
    font-size: var(--menu-font-size);
    display: flex;
    justify-content: space-between;
}

.menu {
    width: 100%;
    display: flex;
}

.site-title,
.page-title,
.nav,
.site-lang {
    position: relative;
    top: 2rem;
    width: fit-content;
    height: fit-content;
}

.site-title {
    left: 2rem;
}

.page-title,
.nav {
    left: 6rem;
}

.site-lang {
    right: 2rem;
}

.page-title {
    display: block;
    transition: opacity .35s ease;
}

.page-title h2 {
    cursor: pointer;
    opacity: 0;
    transition: opacity .35s ease;
}

.nav {
    display: flex;
    gap: 4rem;
    opacity: 0;
    pointer-events: none;
    transform: translateX(2px);
    transition: transform .35s ease;
}

.nav.show {
    opacity: 1;
    pointer-events: all;
    transform: translateX(0);
}

.nav p {
    cursor: pointer;
}

.project-ui svg {
    stroke: var(--color-txt);
    stroke-width: 2px;
    transition: stroke-width .5s ease;
}

.ui-open svg {
    width: var(--ui-open-size);
}

.project-ui svg:hover {
    stroke-width: .75px;
}

.inner-menu-ui svg,
.popup-ui svg {
    stroke: var(--color-bg);
    stroke-width: 1px;
    transition: stroke-width .5s ease;
}

.ui-close svg {
    width: var(--ui-close-size);
}

.inner-menu-ui svg:hover,
.popup-ui svg:hover {
    stroke-width: .25px;
}

.close {
    display: none;
    opacity: 0;
    pointer-events: none;
}

.left {
    left: 2rem;
}

.right {
    right: 2rem;
}

.project {
    width: 100%;
    height: calc(var(--doc-height));
    min-height: calc(var(--doc-height));
    position: relative;
    padding: 4rem 2rem;
}

.project-grid {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

.project-grid-item {
    max-width: 300px;
}

.project-grid-item img {
    width: 100%;
}

.project-grid-item:nth-of-type(1) {
    margin-left: 2rem;
    margin-top: 2rem;
}

.project-grid-item:nth-of-type(3) {
    margin-top: 3rem;
}

.project-grid-item:nth-of-type(4) {
    grid-column: 2 / 3;
    margin-left: -2rem;
}

.project-grid-item:nth-of-type(5) {
    margin-left: -2rem;
}

.project-wrapper {
    width: 100%;
    height: var(--title-font-size-sansserif);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 8;
}

.project-title {
    max-width: 40%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.project-title h2 {
    text-align: center;
}

.project-title h2,
.project-title h2 a {
    font-family: "Alte Haas Grotesk";
    font-style: normal;
    font-weight: 700;
    font-size: var(--title-font-size-sansserif);
    line-height: 100%;
}

.project-title h2:hover,
.project-title h2 a:hover,
.inner-menu-list li a:hover {
    font-family: "Ortica Angular", serif;
    font-size: var(--title-font-size-serif);
}

.project-info {
    max-width: 40%;
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 8;
    font-family: "Alte Haas Grotesk";
    font-style: normal;
    font-weight: 700;
    font-size: var(--text-font-size);
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.project-ui,
.inner-menu-ui {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.project-ui,
.project-info {
    opacity: 0;
    pointer-events: none;
    transition: all .5s ease;
}

.project-ui.info,
.project-info.info {
    opacity: 1;
    pointer-events: all;
}

.popup {
    width: 560px;
    height: 480px;
    position: fixed;
    background-color: var(--color-txt);
    padding: 2rem;
    z-index: 9;
    transition: all .5s ease;
}

.popup-ui {
    position: absolute;
    top: 2rem;
    right: 2rem;
    cursor: pointer;
}

.popup-wrapper {
    color: var(--color-bg);
}

.popup-title {
    width: 75%;
    margin-bottom: 2rem;
}

.popup-title h3 {
    font-family: "Alte Haas Grotesk";
    font-style: normal;
    font-weight: 700;
    font-size: var(--title-font-size-sansserif);
    line-height: 100%;
    text-transform: uppercase;
}

.popup-list:not(:last-of-type) {
    margin-bottom: 1rem;
}

.popup-list p:first-of-type {
    margin-bottom: 1rem;
}

.calendar {
    bottom: 0;
    right: 0;
}

.contact {
    top: 0;
    left: 0;
}

.open {
    display: block;
    opacity: 1;
    pointer-events: all;
}

.inner-menu {
    width: 100%;
    height: var(--doc-height);
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--color-txt);
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .5s ease;
}

.inner-menu-list {
    font-family: "Alte Haas Grotesk";
    font-style: normal;
    font-weight: 700;
    font-size: var(--title-font-size-sansserif);
    line-height: 100%;
    color: var(--color-bg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}