@charset "UTF-8";

@font-face {
    font-family: "Ortica Linear";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/OrticaLinear-Regular.woff2") format("woff2"),
        url("../fonts/OrticaLinear-Regular.woff") format("woff"),
}

@font-face {
    font-family: "Ortica Linear";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/OrticaLinear-Bold.woff2") format("woff2"),
        url("../fonts/OrticaLinear-Bold.woff") format("woff"),
}

@font-face {
    font-family: "Ortica Angular";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/OrticaAngular-Bold.woff2") format("woff2"),
        url("../fonts/OrticaAngular-Bold.woff") format("woff"),
}

@font-face {
    font-family: "Alte Haas Grotesk";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/altehaasgroteskregular.woff2") format("woff2"),
        url("../fonts/altehaasgroteskregular.woff") format("woff"),
        url("../fonts/altehaasgroteskregular.ttf") format("truetype");
}

@font-face {
    font-family: "Alte Haas Grotesk";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/altehaasgroteskbold.woff2") format("woff2"),
        url("../fonts/altehaasgroteskbold.woff") format("woff"),
        url("../fonts/altehaasgroteskbold.ttf") format("truetype");
}

@-webkit-keyframes opacity {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes opacity {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

:root {
    --doc-height: 100%;
    --color-txt: #000000;
    --color-bg: #ffffff;
    --menu-font-size: .9rem;
    --title-font-size-sansserif: 4rem;
    --title-font-size-serif: 3.5rem;
    --text-font-size: .95rem;
    --ui-open-size: 3rem;
    --ui-close-size: 2.5rem;
}

html {
    font-size: 100%;
}

body {
    background-color: var(--color-bg);
    overflow-x: hidden;
    -webkit-animation: opacity 1.5s ease 1;
    animation: opacity 1.5s ease 1;
}

body::after {
    content: "";
    width: 100%;
    height: 50%;
    position: fixed;
    bottom: 0;
    left: 0;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 58.85%, #ffffff 100%);
    z-index: 7;
    pointer-events: none;
}

strong {
    font-weight: 700;
}

em {
    font-style: italic;
}

.header {
    width: 100%;
    height: 4rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    font-family: "Ortica Angular", serif;
    font-style: normal;
    font-weight: 700;
    font-size: var(--menu-font-size);
    display: flex;
    justify-content: space-between;
}

.menu {
    width: 100%;
    display: flex;
}

.mobile-ui {
    display: none;
}

.site-title,
.page-title,
.nav,
.site-lang {
    position: absolute;
    top: 2rem;
}

.site-title {
    left: 2rem;
}

.page-title,
.nav {
    left: 14rem;
}

.site-lang {
    right: 2rem;
}

.page-title {
    display: block;
    transition: opacity .35s ease;
}

.nav {
    display: flex;
    gap: 4rem;
    opacity: 0;
    pointer-events: none;
    transform: translateX(2px);
    transition: transform .35s ease;
}

.nav.show {
    opacity: 1;
    pointer-events: all;
    transform: translateX(0);
}

.nav p {
    cursor: pointer;
}

.nav a,
.nav p,
.site-title a,
.site-lang a {
    text-decoration: underline;
    text-decoration-style: dashed;
    text-decoration-thickness: 1px;
    text-decoration-color: transparent;
    text-underline-offset: 4px;
    transition: all .5s ease;
}

.nav a:hover,
.nav p:hover,
.site-title a:hover,
.site-lang a:hover {
    text-decoration-color: var(--color-txt);
}


.project-ui svg {
    stroke: var(--color-bg);
    stroke-width: 2px;
    transition: stroke-width .5s ease;
}

.ui-open svg {
    width: var(--ui-open-size);
}

.project-ui svg:hover {
    stroke-width: .75px;
}

.popup-ui svg {
    stroke: var(--color-bg);
    stroke-width: 1px;
    transition: stroke-width .5s ease;
}

.ui-close svg {
    width: var(--ui-close-size);
}

.popup-ui svg:hover {
    stroke-width: .25px;
}

.close {
    opacity: 0;
    pointer-events: none;
}

.left {
    left: 2rem;
}

.right {
    right: 2rem;
}

.gallery {
    width: 100%;
    height: var(--doc-height);
    position: relative;
    padding: 4rem 2rem;
}

.gallery-grid {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    justify-items: stretch;
}

.gallery-grid-item {
    max-width: 300px;
}

.gallery-grid-item img {
    width: 100%;
}

.gallery-grid-item:nth-of-type(1) {
    margin-left: 2rem;
    margin-top: 2rem;
}

.gallery-grid-item:nth-of-type(3) {
    margin-top: 3rem;
}

.gallery-grid-item:nth-of-type(4) {
    grid-column: 2 / 3;
    margin-left: -2rem;
}

.gallery-grid-item:nth-of-type(5) {
    margin-left: -2rem;
}

.project-wrapper {
    width: 100%;
    height: var(--title-font-size-sansserif);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 8;
    color: var(--color-bg);
    mix-blend-mode: exclusion;
}

.project-title {
    max-width: 40%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.project-title h2 {
    text-align: center;
}

.project-title h2,
.project-title h2 a {
    font-family: "Alte Haas Grotesk", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: var(--title-font-size-sansserif);
    line-height: 100%;
}

.project-title h2 a:hover,
.inner-menu-list li a:hover {
    font-family: "Ortica Angular", serif;
    font-style: normal;
    font-weight: 700;
    font-size: var(--title-font-size-serif);
}

.project-info {
    max-width: 40%;
    position: absolute;
    bottom: 5rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 8;
    font-family: "Alte Haas Grotesk", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: var(--text-font-size);
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.project-ui {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.project-ui,
.project-info {
    opacity: 0;
    pointer-events: none;
    transition: all .5s ease;
}

.project-ui.info,
.project-info.info {
    opacity: 1;
    pointer-events: all;
}

.popup {
    width: 560px;
    height: 480px;
    position: fixed;
    background-color: var(--color-txt);
    z-index: 9;
    transition: all .5s ease;
}

.popup-list a {
    text-decoration: underline;
    text-decoration-style: dashed;
    text-decoration-thickness: 1px;
    text-decoration-color: var(--color-bg);
    text-underline-offset: 4px;
    transition: all .5s ease;
}

.popup-list a:hover {
    text-decoration-style: solid;
    text-decoration-thickness: .5px;
}

.popup-ui {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.popup-wrapper {
    height: auto;
    overflow-y: scroll;
    padding: 2rem;
    font-family: "Alte Haas Grotesk", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: var(--menu-font-size);
    line-height: 130%;
    color: var(--color-bg);
}

.popup-wrapper::-webkit-scrollbar {
    display: none;
}

.popup-title {
    width: 75%;
    margin-bottom: 2rem;
}

.popup-title h3 {
    font-family: "Alte Haas Grotesk", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: var(--title-font-size-sansserif);
    line-height: 100%;
    text-transform: uppercase;
}

.popup-list:not(:last-of-type) {
    margin-bottom: 2rem;
}

.popup-list p:first-of-type {
    font-family: "Ortica Angular", serif;
    font-style: normal;
    font-weight: 700;
    margin-bottom: .5rem;
}

.calendar {
    bottom: 0;
    right: 0;
}

.contact {
    top: 0;
    left: 0;
}

.open {
    opacity: 1;
    pointer-events: all;
}

.inner-menu {
    width: 100%;
    height: var(--doc-height);
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--color-txt);
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .5s ease;
}

.inner-menu-list {
    font-family: "Alte Haas Grotesk", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: var(--title-font-size-sansserif);
    line-height: 100%;
    color: var(--color-bg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.background {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    pointer-events: none;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    will-change: transform;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.background svg {
    width: 75%;
    -webkit-filter: blur(5rem);
    filter: blur(5rem);
    will-change: transform;
    transition: fill .5s ease;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.background circle:nth-child(1) {
    opacity: .95;
}

.background circle:nth-child(2) {
    opacity: .5;
}

.background circle:nth-child(3) {
    opacity: .75;
}

footer {
    position: relative;
    font-family: "Alte Haas Grotesk", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: .75rem;
    color: var(--color-txt);
    text-align: right;
    padding: 0.25rem 2rem;
    z-index: 8;
}

@media screen and (max-width: 720px) {
    :root {
        --title-font-size-sansserif: 2.5rem;
        --text-font-size: .85rem;
        --ui-open-size: 2.5rem;
        --ui-close-size: 2rem;
    }

    body::before {
        content: "";
        width: 100%;
        height: 50%;
        position: fixed;
        top: 0;
        left: 0;
        background: linear-gradient(0deg, rgba(255, 255, 255, 0.00) 58.85%, #ffffff 100%);
        z-index: 7;
        pointer-events: none;
    }

    .header {
        width: 100%;
        padding: 1rem;
        transition: -webkit-backdrop-filter .15s ease;
        transition: backdrop-filter .15s ease;
        transition: backdrop-filter .15s ease, -webkit-backdrop-filter .15s ease;
    }

    .header.add-backdrop {
        height: 100%;
        -webkit-backdrop-filter: blur(2rem) grayscale(.25);
        backdrop-filter: blur(2rem) grayscale(.25);
    }

    .menu {
        flex-direction: column;
        gap: .5rem;
    }

    .mobile-ui {
        display: block;
        position: relative;
    }

    .rotate {
        transform: rotate(45deg);
    }

    .site-title,
    .page-title,
    .nav {
        position: static;
        top: 1rem;
    }

    .site-lang {
        position: fixed;
        top: unset;
        bottom: 1rem;
        left: unset;
        right: 1rem;
    }

    .site-title {
        display: flex;
        justify-content: space-between;
    }

    .page-title.hide {
        display: none;
    }

    .page-title,
    .nav {
        left: 10rem;
    }

    .nav {
        display: block;
    }

    .right {
        right: 1rem;
    }

    .left {
        left: 1rem;
    }

    .project {
        padding: 4rem 0;
    }

    .gallery-grid {
        width: 100%;
        height: 100%;
        grid-template-columns: 250px 250px;
        justify-content: center;
        align-items: center;
        justify-items: center;
        overflow: hidden;
        gap: 1rem;
    }

    .gallery-grid-item {
        max-width: 200px;
        margin: 0 !important;
        overflow: hidden;
    }

    .gallery-grid-item img {
        width: 150%;
    }

    .project-info {
        opacity: 1;
        pointer-events: all;
        color: var(--color-bg);
        mix-blend-mode: exclusion;
    }

    .project-info {
        max-width: unset;
        width: 75%;
    }

    .project-title {
        max-width: unset;
        width: 100%;
    }

    .project-title h2 a:hover {
        font-family: "Alte Haas Grotesk", sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: var(--title-font-size-sansserif);
    }

    .popup {
        width: 100%;
        height: 75%;
    }

    .project-wrapper .project-ui {
        display: none;
    }

    .inner-menu-list,
    .inner-menu-list li a {
        font-family: "Ortica Angular", serif;
        font-style: normal;
        font-weight: 700;
        font-size: 1rem;
        gap: 1rem;
    }

    .inner-menu-list li a:hover {
        font-family: "Ortica Angular", serif;
        font-style: normal;
        font-weight: 700;
        font-size: 1rem;
    }

    .background svg {
        width: 100%;
    }

    footer {
        text-align: left;
        padding: 1rem 1rem;
    }
}