html,
body {
    scroll-snap-points-y: repeat(var(--doc-height));
    scroll-snap-type: y proximity;
}

.page-title h2 {
    opacity: 1;
    transition: opacity .35s ease;
}

.project-title {
    position: static;
    transform: none;
}

.project-ui {
    opacity: 1;
    pointer-events: all;
    z-index: 8;
    mix-blend-mode: exclusion;
}

.content-wrapper {
    display: flex;
    gap: 2rem;
    padding: 7rem 2rem;
}

.gallery {
    width: 50%;
    height: auto;
    flex: 1 1 50%;
    padding: 0;
}

.gallery-grid {
    grid-template-columns: 1fr;
    align-items: start;
}

.gallery-grid-item {
    transition: backdrop-filter .15s ease;
    margin: 0 !important;
    grid-column: auto !important;
    max-width: unset;
}

.gallery-grid-item img {
    cursor: zoom-in;
    object-fit: cover;
}

.gallery-grid-item.enlarge {
    width: 100%;
    max-width: unset;
    height: var(--doc-height);
    backdrop-filter: blur(2rem) grayscale(1);
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(0px, 0px) !important;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    z-index: 10;
    cursor: zoom-out;
}

.gallery-grid-item.enlarge img {
    width: 60%;
    cursor: zoom-out;
}

.page-copy {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    flex: 1 1 50%;
    padding-right: 4rem;
}

.main-text {
    font-family: "Alte Haas Grotesk";
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 130%;
    display: flex;
    flex-direction: column;
    gap: var(--text-font-size);
}

.secondary-text {
    font-family: "Ortica Linear";
    font-style: normal;
    font-weight: 400;
    font-size: var(--text-font-size);
    line-height: 130%;
    display: flex;
    flex-direction: column;
    gap: var(--text-font-size);
    margin-top: 4rem;
}

.buttons {
    margin: 1rem 0;
}

.button {
    display: inline-block;
    font-family: "Ortica Angular";
    font-style: normal;
    font-weight: 700;
    font-size: var(--menu-font-size);
    border: none;
    background-color: transparent;
}

.button svg {
    position: relative;
    width: calc(var(--text-font-size)/2);
    height: calc(var(--text-font-size)/2);
    stroke: var(--color-txt);
    stroke-width: 2px;
    margin-right: var(--text-font-size);
    transition: transform .25s ease;
}

.button:hover {
    font-family: "Alte Haas Grotesk";
    font-style: normal;
    font-weight: 700;
}

.button:hover svg {
    transform: rotate(45deg);
}

.button p {
    display: inline;
}

.project-pagination {
    position: relative;
    width: 100%;
    height: var(--doc-height);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    scroll-snap-align: start;
}

.project-pagination-text {
    font-family: "Ortica Angular";
    font-style: normal;
    font-weight: 400;
    font-size: var(--text-font-size);
}