.page-title h2 {
    opacity: 1;
    transition: opacity .35s ease;
}

.project-title {
    position: static;
    transform: none;
}

.project-ui {
    opacity: 1;
    pointer-events: all;
    z-index: 8;
    mix-blend-mode: exclusion;
}

.content-wrapper {
    display: flex;
    gap: 4rem;
    padding: 7rem 2rem;
}

.gallery {
    width: 50%;
    height: auto;
    flex: 1 1 50%;
    padding: 0;
}

.gallery-grid {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.gallery-grid-item {
    transition: -webkit-backdrop-filter .15s ease;
    transition: backdrop-filter .15s ease;
    transition: backdrop-filter .15s ease, -webkit-backdrop-filter .15s ease;
}

.gallery-grid-item img {
    width: 100%;
    cursor: zoom-in;
    -o-object-fit: cover;
    object-fit: cover;
}

.gallery-grid-item figcaption {
    display: none;
}

.gallery-grid-item.enlarge {
    width: 100%;
    height: var(--doc-height);
    -webkit-backdrop-filter: blur(2rem) grayscale(.25);
    backdrop-filter: blur(2rem) grayscale(.25);
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(0px, 0px) !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    z-index: 10;
    cursor: zoom-out;
}

.gallery-grid-item.enlarge img {
    width: 60%;
    cursor: zoom-out;
}

.gallery-grid-item.enlarge figcaption {
    display: block;
    font-family: "Alte Haas Grotesk", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: .75rem;
}

.page-copy {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    flex: 1 1 50%;
    padding-right: 4rem;
}

.page-copy a {
    text-decoration: underline;
    -webkit-text-decoration-style: dashed;
    text-decoration-style: dashed;
    text-decoration-thickness: 1px;
    -webkit-text-decoration-color: var(--color-txt);
    text-decoration-color: var(--color-txt);
    text-underline-offset: 4px;
    transition: all 1s ease;
}

.page-copy a:hover {
    -webkit-text-decoration-style: solid;
    text-decoration-style: solid;
    text-decoration-thickness: .5px;
}


.main-text {
    font-family: "Alte Haas Grotesk", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: var(--text-font-size-sansserif);
    line-height: 130%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.secondary-text {
    font-family: "Ortica Linear", serif;
    font-style: normal;
    font-weight: 400;
    font-size: var(--text-font-size-serif);
    line-height: 130%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 4rem;
}

.buttons {
    margin: 1rem 0;
}

.button {
    display: inline-block;
    font-family: "Ortica Angular", serif;
    font-style: normal;
    font-weight: 700;
    font-size: var(--menu-font-size);
    border: none;
    background-color: transparent;
}

.button svg {
    position: relative;
    width: calc(var(--text-font-size-serif)/2);
    height: calc(var(--text-font-size-serif)/2);
    stroke: var(--color-txt);
    stroke-width: 2px;
    margin-right: var(--text-font-size-serif);
    transition: transform .25s ease;
}

.button:hover {
    font-family: "Alte Haas Grotesk", sans-serif;
    font-style: normal;
    font-weight: 700;
}

.button:hover svg {
    transform: rotate(45deg);
}

.button p {
    display: inline;
}

@media screen and (max-width: 720px) {
    .content-wrapper {
        flex-direction: column;
        gap: 2rem;
        padding: 5rem 1rem;
    }

    .gallery {
        width: 100%;
    }

    .gallery-grid {
        gap: 1rem;
    }

    .gallery-grid-item:nth-of-type(1),
    .gallery-grid-item:nth-of-type(2) {
        margin-left: 0;
    }

    .gallery-grid-item img {
        width: 100%;
    }

    .gallery-grid-item.enlarge {
        -webkit-backdrop-filter: blur(.5rem) grayscale(.25);
        backdrop-filter: blur(.5rem) grayscale(.25);
    }

    .gallery-grid-item.enlarge img {
        height: unset;
        width: 100%;
    }

    .gallery-grid-item.hide-on-mobile {
        display: none;
    }

    .gallery-button {
        display: flex;
        justify-content: center;
        margin-top: 1rem;
    }

    .gallery-button svg {
        width: 1rem;
        height: 1rem;
        stroke: var(--color-txt);
        stroke-width: 2px;
        text-align: center;
        transition: transform .25s ease;
    }

    .page-copy {
        padding-right: 0;
    }

    .secondary-text {
        margin-top: .5rem;
    }

    .project-ui {
        display: none;
    }
}