body {
    overflow: hidden;
}

body::after {
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.00) 90%, #ffffff 100%);
}

.page-title h2 {
    cursor: unset;
    opacity: 1;
    transition: opacity .35s ease;
}

/* .project {
    height: auto;
} */

.project-ui,
.project-info {
    opacity: 1;
    pointer-events: all;
}

.project-ui {
    position: fixed;
    z-index: 8;
    mix-blend-mode: exclusion;
}

.content {
    width: 100%;
    height: var(--doc-height);
    display: flex;
    flex-direction: row;
    gap: 2rem;
    padding-top: 6rem;
    padding-left: 14rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
    font-family: "Alte Haas Grotesk";
    font-style: normal;
    font-weight: 400;
    font-size: var(--text-font-size);
    line-height: 130%;
    overflow-y: hidden;
    overflow-x: scroll;
}

.scroll-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: var(--text-font-size);
    column-gap: 2rem;
    flex: 0 0 32vw;
}

/* .main-text {
    height: inherit;
    width: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: var(--text-font-size);
    padding-bottom: 4rem;
} */

.buttons-wrapper button {
    display: block;
    margin-bottom: var(--text-font-size);
}

/* .gallery {
    width: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    flex: 0 0 1000px;
} */

.image-wrapper img {
    height: auto;
    max-height: 30vh;
    width: auto;
}

.image-wrapper:last-child {
    padding-right: 2rem;
}