.page-title h2 {
    opacity: 1;
    -webkit-transition: opacity .35s ease;
    -o-transition: opacity .35s ease;
    transition: opacity .35s ease;
}

.project-title {
    position: static;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
}

.project-ui {
    opacity: 1;
    pointer-events: all;
    z-index: 8;
    mix-blend-mode: exclusion;
}

.content-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 4rem;
    padding: 7rem 2rem;
}

.gallery {
    width: 50%;
    height: auto;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 50%;
    flex: 1 1 50%;
    padding: 0;
}

.gallery-grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    /* grid-template-columns: 1fr 1fr;
    align-items: start; */
    gap: 2rem;
}

.gallery-grid-item {
    transition: -webkit-backdrop-filter .15s ease, opacity .5s ease;
    transition: opacity .5s ease, -webkit-backdrop-filter .15s ease;
    -webkit-transition: opacity .5s ease, -webkit-backdrop-filter .15s ease;
    -o-transition: backdrop-filter .15s ease, opacity .5s ease;
    transition: backdrop-filter .15s ease, opacity .5s ease;
    transition: backdrop-filter .15s ease, opacity .5s ease, -webkit-backdrop-filter .15s ease;
    transition: backdrop-filter .15s ease, -webkit-backdrop-filter .15s ease, opacity .5s ease;
    /* margin: 0 !important;
    grid-column: auto !important;
    max-width: unset; */
}

.gallery-grid-item img,
.gallery-grid-item video {
    width: 100%;
    cursor: -webkit-zoom-in;
    cursor: zoom-in;
    -o-object-fit: cover;
    object-fit: cover;
}

.gallery-grid-item figcaption {
    display: none;
}

.gallery-grid-item.enlarge {
    width: 100%;
    /* max-width: unset; */
    height: var(--doc-height);
    -webkit-backdrop-filter: blur(2rem) grayscale(.25);
    backdrop-filter: blur(2rem) grayscale(.25);
    position: fixed;
    top: 0;
    left: 0;
    -webkit-transform: translate(0px, 0px) !important;
    -ms-transform: translate(0px, 0px) !important;
    transform: translate(0px, 0px) !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: .5rem;
    margin: 0;
    z-index: 10;
    cursor: -webkit-zoom-out;
    cursor: zoom-out;
}

.gallery-grid-item.enlarge img {
    height: 65%;
    width: auto;
    cursor: -webkit-zoom-out;
    cursor: zoom-out;
}

.gallery-grid-item.enlarge video {
    height: 85%;
    width: auto;
    cursor: -webkit-zoom-out;
    cursor: zoom-out;
}

.gallery-grid-item.enlarge figcaption {
    display: block;
    font-family: "Alte Haas Grotesk", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: .75rem;
}

.page-copy {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 2rem;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 50%;
    flex: 1 1 50%;
    padding-right: 4rem;
}

.page-copy a {
    text-decoration: underline;
    -webkit-text-decoration-style: dashed;
    text-decoration-style: dashed;
    text-decoration-thickness: 1px;
    -webkit-text-decoration-color: var(--color-txt);
    text-decoration-color: var(--color-txt);
    text-underline-offset: 4px;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

.page-copy a:hover {
    -webkit-text-decoration-style: solid;
    text-decoration-style: solid;
    text-decoration-thickness: .5px;
}

.main-text {
    font-family: "Alte Haas Grotesk", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: var(--text-font-size-sansserif);
    line-height: 130%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: .5rem;
}

.secondary-text {
    font-family: "Ortica Linear", serif;
    font-style: normal;
    font-weight: 400;
    font-size: var(--text-font-size-serif);
    line-height: 130%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: .5rem;
}

.secondary-text:last-of-type {
    margin-top: 3rem;
}

/* .buttons {
    margin: 0 1rem;
} */

.button {
    display: inline-block;
    font-family: "Ortica Angular", serif;
    font-style: normal;
    font-weight: 700;
    font-size: var(--menu-font-size);
    line-height: 150%;
    border: none;
    background-color: transparent;
}

.button svg {
    position: relative;
    width: calc(var(--text-font-size-serif)/2);
    height: calc(var(--text-font-size-serif)/2);
    stroke: var(--color-txt);
    stroke-width: 2px;
    margin-right: var(--text-font-size-serif);
    -webkit-transition: -webkit-transform .25s ease;
    transition: -webkit-transform .25s ease;
    -o-transition: transform .25s ease;
    transition: transform .25s ease;
    transition: transform .25s ease, -webkit-transform .25s ease;
}

.button:hover {
    font-family: "Alte Haas Grotesk", sans-serif;
    font-style: normal;
    font-weight: 700;
}

.button:hover svg {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.button p {
    display: inline;
}

.project-pagination {
    position: relative;
    width: 100%;
    height: var(--doc-height);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.project-pagination-text {
    font-family: "Ortica Angular", serif;
    font-style: normal;
    font-weight: 400;
    font-size: var(--text-font-size-serif);
}

.subpage {
    width: 100%;
    height: var(--doc-height);
    position: fixed;
    top: 0;
    left: 0;
    -webkit-backdrop-filter: blur(2rem) grayscale(.25);
    backdrop-filter: blur(2rem) grayscale(.25);
    z-index: 10;
}

.subpage-wrapper {
    height: inherit;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.subpage-cover {
    width: 50%;
    padding: 2rem;
}

.subpage-cover img {
    -o-object-fit: contain;
    object-fit: contain;
    width: 100%;
    max-height: 90vh;
    height: auto;
}

.subpage-copy {
    height: inherit;
    overflow-y: scroll;
    padding: 2rem 7rem 2rem 2rem;
}

.subpage-copy::-webkit-scrollbar {
    display: none;
}

.subpage-title {
    font-family: "Ortica Angular", serif;
    font-style: normal;
    font-weight: 700;
    font-size: var(--menu-font-size);
}

.subpage .ui-close svg {
    stroke: var(--color-txt);
    stroke-width: 1.5px;
}

.subpage .ui-close svg:hover {
    stroke: var(--color-txt);
    stroke-width: 1px;
}

.audio-player {
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1rem;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-top: dashed 1px var(--color-txt);
    border-bottom: dashed 1px var(--color-txt);
    padding: 1rem 0;
}

.audio-player svg {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 1.2rem;
    stroke: var(--color-txt);
    stroke-width: 1.5px;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

.play-btn {
    position: relative;
    cursor: pointer;
}

.play-icon.toggle-play {
    opacity: 0;
}

.pause-icon {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
}

.pause-icon.toggle-play {
    opacity: 1;
}

.stop-icon {
    opacity: 0;
    -webkit-transition: opacity .5s ease;
    -o-transition: opacity .5s ease;
    transition: opacity .5s ease;
}

.stop-icon.toggle-play {
    opacity: 1;
    cursor: pointer;
}

.audio-time {
    width: 144px;
    white-space: nowrap;
    font-family: "Alte Haas Grotesk";
    font-style: normal;
    font-weight: 400;
    font-size: .9rem;
    text-align: center;
}

.audio-time span {
    white-space: nowrap;
}

input.seek-slider {
    position: relative;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    margin: 0;
    padding: 0;
    outline: solid 1px black;
    background-color: transparent;
}

input.seek-slider::-webkit-slider-runnable-track {
    width: 100%;
    height: 8px;
    cursor: pointer;
}

input.seek-slider::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: var(--seek-before-width);
    height: 8px;
    background-color: var(--color-txt);
    opacity: 0.5;
    cursor: pointer;
}

input.seek-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 0;
    width: 0;
}

.audio-volume {
    position: relative;
    cursor: pointer;
}

.volume-icon.toggle-volume {
    opacity: 0;
}

.mute-icon {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
}

.mute-icon.toggle-volume {
    opacity: 1;
}

.video-component {
    padding: 1rem 0;
    border-top: dashed 1px var(--color-txt);
    border-bottom: dashed 1px var(--color-txt);
}

.video-component video {
    width: 100%;
}

@media screen and (max-width: 720px) {
    .content-wrapper {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        gap: 2rem;
        padding: 5rem 1rem;
    }

    .gallery {
        width: 100%;
    }

    .gallery-grid {
        gap: 1rem;
    }

    .gallery-grid-item:nth-of-type(1),
    .gallery-grid-item:nth-of-type(2) {
        margin-left: 0;
    }

    .gallery-grid-item img {
        width: 100%;
    }

    .gallery-grid-item.enlarge {
        -webkit-backdrop-filter: blur(.5rem) grayscale(.25);
        backdrop-filter: blur(.5rem) grayscale(.25);
    }

    .gallery-grid-item.enlarge img {
        height: unset;
        width: 100%;
    }

    .gallery-grid-item.hide-on-mobile {
        display: none;
    }

    .gallery-button {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin-top: 1rem;
    }

    .gallery-button svg {
        width: 1rem;
        height: 1rem;
        stroke: var(--color-txt);
        stroke-width: 2px;
        text-align: center;
        -webkit-transition: -webkit-transform .25s ease;
        transition: -webkit-transform .25s ease;
        -o-transition: transform .25s ease;
        transition: transform .25s ease;
        transition: transform .25s ease, -webkit-transform .25s ease;
    }

    .page-copy {
        padding-right: 0;
    }

    .buttons {
        margin: 0;
    }

    .project-ui {
        display: none;
    }

    .subpage-wrapper {
        height: inherit;
        display: block;
        padding: 1rem;
        overflow-y: scroll;
    }

    .subpage-cover {
        width: 100%;
        padding: 0;
        margin-bottom: 1rem;
    }

    .subpage-copy {
        height: auto;
        overflow-y: hidden;
        padding: 0;
    }

}